.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333333;
  background-color: #fff;
}
.homePage .heroSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 60px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.homePage .heroSection .heroContainer {
  width: 40%;
  background-color: #fff3e3;
  padding: 40px;
}
.homePage .heroSection .heroContainer .heroHeading {
  font-size: 50px;
  color: #b88e2f;
}
.homePage .heroSection .heroContainer .heroParagraph {
  font-size: 16px;
}
.homePage .heroSection .heroContainer .heroButton {
  background-color: #b88e2f;
  color: white;
  border: none;
  padding: 20px 40px;
  margin-top: 40px;
}
.homePage .browseSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
  width: 100%;
}
.homePage .browseSection .browseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.productsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productsSection .productsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.productsSection .productButton {
  font-weight: bold;
  font-size: 1.6rem;
  color: #b88e2f;
  border: 3px solid #b88e2f;
  background: none;
  width: 15%;
  padding: 1rem;
  margin: 1rem;
}
.productsSection .productButton:hover {
  color: white;
  background-color: #b88e2f;
  transition: all 0.2s;
}

.productCard {
  position: relative;
  width: 20%;
  margin: 16px;
  background-color: black;
}
.productCard .productCardActive {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}
.productCard .productCardActive .productAddButton,
.productCard .productCardActive .productActionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
}
.productCard .productCardActive .productAddButton span,
.productCard .productCardActive .productActionButton span {
  margin-right: 5px;
}
.productCard .productCardActive .productAddButton {
  width: 80%;
  background-color: white;
  color: #b88e2f;
  border: 2px solid #b88e2f;
}
.productCard .productActionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.productImageContainer {
  background-color: #f4f5f7;
}
.productImageContainer img {
  width: 100%;
}

.productDiscountBadge,
.productNewBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  content: "";
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: #e97171;
  top: 24px;
  right: 24px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #e97171;
}

.productNewBadge {
  top: 24px;
  left: 24px;
  background-color: #2ec1ac;
  box-shadow: 1px 1px 10px #2ec1ac;
}

.productFooter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-color: #f4f5f7;
  padding: 16px;
  color: #3a3a3a;
}
.productFooter .productPrice s {
  color: #b0b0b0;
}
.productFooter .productDescription {
  color: #898989;
}

.productCard:hover .productImageContainer,
.productCard:hover .productFooter {
  opacity: 0.4;
}
.productCard:hover .productCardActive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.productCard:hover .productAddButton:hover {
  background-color: #b88e2f;
  color: white;
  transition: all 0.2s;
}/*# sourceMappingURL=ProductCard.module.css.map */