@import "../../styles/Home.module.scss";
.Navbar {
  @include flex($justify: space-around);
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background-color: white;

  .navLinksContainer {
    a {
      margin: 0 30px;
      span {
        color: black;
      }
    }
  }
  .navIconsContainer {
    @include flex($justify: space-evenly);
    button {
      margin: 0 20px;
      background-color: white;
      border: none;
    }
  }
}
